menu "Ledespino Configuration"

  menu "WiFi"
    config WIFI_SSID
      string "WiFi SSID"
      default "Ledespino"
      help
        SSID (network name) for the example to connect to.

    config WIFI_PASSWORD
      string "WiFi Password"
      default "lettherebelight"
      help
        WiFi password (WPA or WPA2) for the example to use.

        Can be left blank if the network has no security set.
  endmenu

  menu "Web Server"
    config LOCAL_DOMAIN
      string "Local Domain Name"
      default "ledespino.local"
      help
        Local domain advertised by mDNS and used for responses by the HTTP server.

    config HTTP_SERVER_PORT
      int "HTTP Server Port"
      default 80
      help
        Port to use for the HTTP server.
  endmenu

endmenu
